.time-menu-root{
  display: flex;
  .time-menu-btn{
    display: flex;
    align-items: center;
    height: 48px;
    padding: 9px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
  }
  p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: white;
  }
  .time-menu-wrap{
    display: flex;
    .time-menu-item{
      display: flex;
      align-items: center;
      margin: 0 8px;
      cursor: pointer;
      // border-bottom: 5px solid rgb(0, 255, 115);
    }
    .time-menu-item-active{
      display: flex;
      align-items: center;
      margin: 0 8px;
      cursor: pointer;
      border-bottom: 5px solid rgb(0, 255, 115);
    }
  }
}

.time-menu-popper{
  margin-top: 10px;

  p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: white;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(100px);
  }

  /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: #181B1C;
  }

  border-radius: 10px;
  overflow: hidden;
  z-index: 10;

  .tooltip{
    display: flex;
    flex-direction: column;

    .tooltip-item{
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 13px 20px;
      cursor: pointer;

      &:hover{
          background: rgba(255,255,255,0.1);
          text-decoration: none;
      }

      &:active{
          background: rgba(255,255,255,0.1);
          text-decoration: none;
      }}
    }

  .add-tokens{
    display: flex;
    flex-direction: column;
  }
}